@import './colors';
@import './fonts';

body,
html {
  background: $greyish-black;
  font-family: $open-sans;
  margin: 0;
  padding: 0;
}

body {
  background: $greyish-black url('/assets/images/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $lato;
}

h4 {
  font-size: 22px;
}

p {
  text-align: justify;
}
