.list-group-item{
    background-color:#a71320
}
.card{
    //background-color:#a71320
    background: url(https://cdn-lor.mobalytics.gg/production/images/deck-sleeves/SI.jpg) center top / cover no-repeat;
}
.list-group li{
    background: url(https://cdn-lor.mobalytics.gg/production/images/deck-sleeves/SI.jpg) center top / cover no-repeat;
}
