<ngb-carousel #carousel [interval]="interval" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quas debitis, minus eveniet quia, officiis natus veniam porro aspernatur tempora blanditiis enim hic nisi, sunt corrupti quibusdam itaque vel.</p>
      </div>
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img class="img-fluid" [src]="img" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>