<div class="carousel-container">
  <div class="overlay">
    <h1 class="title">"Extremely good at the game!"</h1>
    <p class="content">
      "Very knowledgeable and funny lad, would highly recommend coaching from
      him to anyone of any skill level. Very comfortable to work with."
    </p>
    <span class="author">Avilus</span>
    <div
      class="rank results-rank"
      [style.background]="
        'url(/assets/images/ranks/master.webp) no-repeat center'
      "
      [style.backgroundSize]="'contain'"
    ></div>
    <p class="subtitle">From platinum to masters</p>
    <div class="navigation-icons-bar">
      <img
        src="/assets/svg/icons/dot-icon.svg"
        alt="carousel navigation icon"
      />
      <img
        class="active"
        src="/assets/svg/icons/dot-icon.svg"
        alt="carousel navigation icon"
      />
      <img
        src="/assets/svg/icons/dot-icon.svg"
        alt="carousel navigation icon"
      />
    </div>
  </div>
</div>
