/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #114b5f!important;
    color:white!important
}
p,h1,h2,h3,h4,h5,h6{
    color:white;
}