@import '../../../assets/styles/scss/colors';
@import '../../../assets/styles/scss/fonts';

.guides-section-container {
  padding: 100px;

  .title-bar {
    display: flex;
    margin-bottom: 100px;

    .title h1 {
      font-size: 45px;
      line-height: 45px;
      font-family: $open-sans;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      color: $gold;
    }

    .filters-box {
      background: $black;
      width: 600px;
      height: 100%;
      opacity: 0.5;
    }
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, 400px);
    grid-gap: 40px;

    .box {
      position: relative;
      box-sizing: border-box;
      border: 1px solid $gold;
      box-shadow: 3px 5px 6px $black;
      background: $black;
      transition: all 0.4s ease-in-out;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 0;

      &:hover {
        box-shadow: 0 0 0 3px $gold;
        opacity: 1;
        transition: all 0.4s ease-in-out;

        .regions img {
          filter: none;
          transition: all 0.4s ease-in-out;
        }

        .top-division .preview-background {
          opacity: 0.45;
          transition: all 0.4s ease-in-out;
        }
      }

      .top-division {
        height: 60%;
      }

      .bottom-division {
        height: 40%;
      }

      .top-division,
      .bottom-division {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .preview-background {
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }

      .box-header {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .regions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 60px;
          filter: saturate(1) sepia(1);
          transition: all 0.4s ease-in-out;
        }
      }

      .title {
        font-size: 16px;
        color: $gold;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 80%;
      }
    }
  }

  @media screen and (max-width: 1240px) {
    .content-section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
