<div class="guides-section-container">
  <div class="title-bar">
    <div class="title">
      <h1>My Guides</h1>
    </div>
  </div>
  <div class="content-section">
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/mfbanner.large.png) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/noxus.svg" alt="noxus region" />
          <img
            src="/assets/svg/regions/bilgewater.svg"
            alt="bilgewater region"
          />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          RUNETERRA DECK GUIDE: PIRATE AGGRO (A.K.A. “YARRR”)
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/tf-banner.large.png) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/noxus.svg" alt="noxus region" />
          <img
            src="/assets/svg/regions/bilgewater.svg"
            alt="bilgewater region"
          />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          Empire above all: laying siege on ladder with Swain/Twisted Fate
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/jinx-wallpaper.large.png) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/piltoverzaun.svg" alt="noxus region" />
          <img src="/assets/svg/regions/noxus.svg" alt="bilgewater region" />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          Burning down the format with Jinx/Draven Discard Aggro
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/targon-region-banner.large.jpg) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/piltoverzaun.svg" alt="noxus region" />
          <img src="/assets/svg/regions/noxus.svg" alt="bilgewater region" />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          A taste of Targon: Reviewing the newest region for Legends of
          Runeterra!
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/ezrealglove-banner.large.jpg) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/piltoverzaun.svg" alt="noxus region" />
          <img src="/assets/svg/regions/noxus.svg" alt="bilgewater region" />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          The faces of Ezreal
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/anivia-wingman-control-banner.large.png) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/freljord.svg" alt="noxus region" />
          <img
            src="/assets/svg/regions/shadowisles.svg"
            alt="bilgewater region"
          />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          Legends of Runeterra: Wingman Control has your back!
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/riven-banner.large.jpg) no-repeat scroll center right'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img src="/assets/svg/regions/noxus.svg" alt="bilgewater region" />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          Runeterra Champion Theorycrafts for June
        </div>
      </div>
    </div>
    <div class="box">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(/assets/images/articles/devourer-of-the-depths-banner.large.png) no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img
            src="/assets/svg/regions/shadowisles.svg"
            alt="bilgewater region"
          />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          Going deep with a top Legends of Runeterra deck
        </div>
      </div>
    </div>
  </div>
</div>
