<div class="guides-section-container">
  <div class="title-bar">
    <div class="title">
      <h1>My Guides</h1>
    </div>
  </div>
  <div class="content-section">
    <div class="box" *ngFor="let guide of guides$ | async">
      <div class="top-division">
        <div
          class="preview-background"
          [style.background]="
            'url(' + guide.bannerImg + ') no-repeat scroll center'
          "
          [style.backgroundSize]="'cover'"
        ></div>
        <div class="regions">
          <img
            *ngFor="let region of guide.regions"
            src="{{ region }}"
            alt="region icon"
          />
        </div>
      </div>
      <div class="bottom-division">
        <div class="title">
          {{ guide.title }}
        </div>
      </div>
    </div>
  </div>
</div>
