@import '../../../assets/styles/scss/colors';

:host {
  background-color: $greyish-black;
}

footer {
  padding-top: 60px;

  .top-section {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 45px;
  }

  .bottom-section {
    text-align: center;
    background: $black;
    padding: 15px;

    span {
      font-size: 12px;
      color: $gold;
      font-weight: bold;
    }
  }

  .footer-column {
    flex: 1;
    padding-right: 6%;

    .column-title {
      text-transform: uppercase;
      color: $white;
    }

    p {
      font-size: 12px;
      color: $white;
      font-weight: bold;
    }
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}
