<footer>
  <div class="top-section">
    <div class="footer-column">
      <img src="assets/svg/logo/logo-icon.svg" alt="logo-icon-small" />
    </div>
    <div class="footer-column">
      <h4 class="column-title">Noxian Forge</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Orci phasellus
        egestas tellus rutrum.
      </p>
    </div>
    <div class="footer-column">
      <h4 class="column-title">Sections</h4>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Coaching</a>
          </li>
          <li>
            <a href="">Guides</a>
          </li>
          <li>
            <a href="">About me</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-column">
      <h4 class="column-title">Latest News</h4>
    </div>
  </div>
  <div class="bottom-section">
    <span>
      Copyright &copy; 2020 - Noxian Forge - All rights reserved
    </span>
  </div>
</footer>
