@import '../../../assets/styles/scss/colors';
@import '../../../assets/styles/scss/fonts';

header {
  padding: 25px 50px;
  display: flex;

  > div {
    flex: 1;
    display: flex;
  }
}

.left-group {
  column-gap: 20px;
  align-items: flex-end;
}

.right-group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        float: left;

        a {
          display: block;
          color: $white;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          padding: 0 30px;
          text-decoration: none;
          height: 60px;

          &.active {
            color: $gold;

            &::after {
              display: block;
              content: ' ';
              background-image: url('../../../assets/svg/icons/navbar-mark.svg');
              background-size: 66px 40px;
              height: 40px;
              width: 66px;
            }
          }
        }
      }
    }
  }
}
