<header>
  <div class="left-group">
    <img
      class="logo-icon"
      src="/assets/svg/logo/logo-icon.svg"
      alt="logo-icon"
    />
    <img
      class="logo-text"
      src="/assets/svg/logo/logo-text.svg"
      alt="logo-text"
    />
  </div>
  <div class="right-group">
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="[globalRoutes.HOME]"
            [class.active]="currentRoute === globalRoutes.HOME"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="[globalRoutes.COACHING]"
            [class.active]="currentRoute === globalRoutes.COACHING"
            >Coaching</a
          >
        </li>
        <li>
          <a
            [routerLink]="[globalRoutes.GUIDES]"
            [class.active]="currentRoute === globalRoutes.GUIDES"
            >Guides</a
          >
        </li>
        <li>
          <a
            [routerLink]="[globalRoutes.ABOUT]"
            [class.active]="currentRoute === globalRoutes.ABOUT"
            >About Me</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
