.section-nox{
    border: solid 1px #028090;
    background-color: #f45b69;
}
.main{
    height:500px;
}
.carrusel{
    height:200px;
}
.proof-social{
    height:100px;
}
.btn-primary{
    background-color: #f45b69;
    border-color:#028090;
}
footer{
    border-top: solid 1px #028090;
}