<header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-1">
        <img class="img-fluid" src="\assets\images\Captura.PNG" alt="" />
      </div>
    </div>
    <br />
    <div class="row justify-content-center">
      <div class="col">
        <button class="btn btn-primary">Home</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">Coaching</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">Tier list / Meta report</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">Streaming</button>
      </div>
    </div>
    <br />
    <br />
  </div>
</header>
<section>
  <div class="container">
    <div class="row section-nox justify-content-center">
      <div class="col-12">
        <noxian-carrousel></noxian-carrousel>
      </div>
    </div>
    <br>
    <div class="row section-nox">
      <div class="col-12">
        <featured-content></featured-content>
      </div>
    </div>
    <br>
    <div class="row section-nox">
      <div class="col-12">
        <div class="proof-social">Social proof and Reviews</div>
      </div>
    </div>
  </div>
</section>

<section>
  <footer>
    <div class="container">
      <br />
      <div class="row">
        <div class="col-4">
          <h3>About Nexus Forge</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            enim explicabo voluptatem nisi in ea inventore voluptate fugit quae
            fugiat totam consectetur officiis quisquam molestias, culpa
            laudantium sequi aspernatur ipsa.
          </p>
        </div>
        <div class="col-4">
          <h3>Sections</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            enim explicabo voluptatem nisi in ea inventore voluptate fugit quae
            fugiat totam consectetur officiis quisquam molestias, culpa
            laudantium sequi aspernatur ipsa.
          </p>
        </div>
        <div class="col-4">
          <h3>Relevant info (coaching/streaming)</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            enim explicabo voluptatem nisi in ea inventore voluptate fugit quae
            fugiat totam consectetur officiis quisquam molestias, culpa
            laudantium sequi aspernatur ipsa.
          </p>
        </div>
      </div>
      <div class="row section-nox justify-content-center">
          copyright and legal information
      </div>
    </div>
  </footer>
</section>
