@import '../../../assets/styles/scss/colors';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .guides-container {
    width: 100%;
    max-width: 75%;
    margin: 0 100px 118px;
    height: 585px;
    background-color: $dark-gray;
    border: 2px solid $gold;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);

    .guides-title-bar {
      display: flex;
      align-items: center;
      padding: 30px;

      .guides-title {
        color: $white;
        text-transform: uppercase;
        font-weight: 38px;
        line-height: 38px;
        margin: 0;
      }
    }

    .guides-content {
      display: flex;
      flex-direction: column;
      column-gap: 20px;

      .guide-item {
        display: flex;
        align-items: center;
        align-self: center;
        height: 86px;
        background-color: $black;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
        border: 2px solid $gold;
        margin-bottom: 20px;
        position: relative;
        width: 105%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          width: 106%;
          box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.4);
          transition: all 0.3s ease-in-out;

          > div.background-image {
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
          }

          .guide-title {
            color: $white;
            transition: all 0.4s ease-in-out;
          }

          .regions {
            background: none;

            img {
              filter: none;
              transition: all 0.4s ease-in-out;
            }
          }
        }

        div.background-image {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.2;
          transition: all 0.4s ease-in-out;
        }

        .regions {
          display: flex;
          height: 100%;
          width: 180px;
          text-align: center;
          background-color: $black;
          border-right: 2px solid $gold;
          justify-content: center;
          align-items: center;
          z-index: 1;

          img {
            max-width: 80px;
            filter: saturate(1) sepia(1);
            transition: all 0.5s ease-in-out;
          }
        }

        .guide-title {
          color: $gold;
          text-transform: uppercase;
          font-size: 20px;
          padding: 0 30px;
          z-index: 1;
        }
      }

      .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 60px;

        div.view-more {
          text-transform: uppercase;
          color: $gold;
          font-weight: bold;
          display: flex;
          align-items: center;
          column-gap: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
