<div class="guides-container">
  <div class="guides-title-bar">
    <h2 class="guides-title">My guides</h2>
    <div class="guides-filters"></div>
  </div>
  <div class="guides-content">
    <div class="guide-item">
      <div
        class="background-image"
        [style.background]="
          'url(/assets/images/articles/mfbanner.large.png) no-repeat scroll center'
        "
        [style.backgroundSize]="'cover'"
      ></div>
      <div class="regions">
        <img src="/assets/svg/regions/noxus.svg" alt="noxus" />
        <img src="/assets/svg/regions/bilgewater.svg" alt="bilgewater" />
      </div>
      <div class="guide-title">DECK GUIDE: PIRATE AGGRO (A.K.A. "YARRR")</div>
    </div>
    <div class="guide-item">
      <div
        class="background-image"
        [style.background]="
          'url(/assets/images/articles/tf-banner.large.png) no-repeat scroll center'
        "
        [style.backgroundSize]="'cover'"
      ></div>
      <div class="regions">
        <img src="/assets/svg/regions/noxus.svg" alt="noxus" />
        <img src="/assets/svg/regions/bilgewater.svg" alt="bilgewater" />
      </div>
      <div class="guide-title">
        Empire above all: laying siege on ladder with Swain/Twisted Fate
      </div>
    </div>
    <div class="guide-item">
      <div
        class="background-image"
        [style.background]="
          'url(/assets/images/articles/jinx-wallpaper.large.png) no-repeat scroll center'
        "
        [style.backgroundSize]="'cover'"
      ></div>
      <div class="regions">
        <img src="/assets/svg/regions/piltoverzaun.svg" alt="piltover zaun" />
        <img src="/assets/svg/regions/noxus.svg" alt="noxus" />
      </div>
      <div class="guide-title">
        Burning down the format with Jinx/Draven Discard Aggro
      </div>
    </div>
    <div class="guide-item">
      <div
        class="background-image"
        [style.background]="
          'url(/assets/images/articles/targon-region-banner.large.jpg) no-repeat scroll center'
        "
        [style.backgroundSize]="'cover'"
      ></div>
      <div class="regions">
        <img src="/assets/svg/regions/targon.svg" alt="targon" />
      </div>
      <div class="guide-title">
        A taste of Targon: Reviewing the newest region for Legends of Runeterra!
      </div>
    </div>
    <div class="action-buttons">
      <div class="view-more">
        <span>View More</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="16"
          viewBox="0 0 24 24"
          width="16"
          fill="currentColor"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z" />
        </svg>
      </div>
    </div>
  </div>
</div>
